*
{
  margin: 0;
  padding: 0;
  font-family: 'Rambla', sans-serif;
}

.headerText
{
  font-size: 5rem !important;
  text-align: center !important;
  font-family: 'Rambla', sans-serif !important;
}

#subHeaderText
{
  font-size: 2rem !important;
  margin-top: -1rem;
  font-family: 'Rambla', sans-serif !important;
}

#menu
{
  background: rgba(17, 0, 17, 0.35) ;
}

#landingText
{
  width:100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.linkNav
{
  color: white !important;
  font-size: medium !important;
}

.linkNav:hover
{
  color: red !important;
}

#Home
{
  height: 100vh;
  width: 100%;

  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../layout/img/pexels-markus-spiske-2004161.jpg);
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
  background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu 
{
  background-image: linear-gradient(135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%) !important;
}

.react-calendar
{
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}

.react-datepicker-wrapper
{
  width: 100%;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.navBar
{
  background-color: rgba(0,0,0,0.5);
}

#navImage
{
  padding-left: 1rem;
}

.userProfile
{
  margin-bottom: -1rem !important;
  padding-right: 2.5rem;
  padding-left: 1rem;
}

.nav-link
{
  padding-top: 0;
  padding-bottom: 0;
}

#userNavName
{
  color: white;
  display: inline;
  padding-left: 1rem;
  font-size: medium;
}

#userNavImage
{
  border-radius: 50%;
}

#navigationBar
{
  z-index: 1000 !important;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(../layout/img/pexels-markus-spiske-2004161.jpg);
  width: 100%;
}

#siteTitle
{
  display: inline !important;
}

.logInButton
{
  background-color: red !important;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
  height: auto !important;
  width: auto !important;
}

.logInTitle
{
  color: red !important;
}

.ui.positive.button:hover, .ui.positive.buttons:hover .button:hover
{
  background-color: #cc0000 !important;
}

#About
{
  padding: 3rem;
}

header {
  background: black;
  display: flex;
  color: #cc0000;
  padding: 1.25rem;
  margin-top: 1.5rem;
}

header:before,
header:after {
  content: '';
  margin: auto 1em;
  border-bottom: solid 1px;
  flex: 1;
}

.diamond {
  position: relative;
  padding: 0.25em 1em;
  overflow: hidden;
  background: linear-gradient(currentcolor, currentcolor) no-repeat top center, linear-gradient(currentcolor, currentcolor) no-repeat bottom center;
  background-size: calc(100% - 1.65em) 1px;
}

.diamond:before,
.diamond:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: solid 1px;
  border-top: none;
  border-bottom: none;
  transform: skew(45deg)
}

.diamond:after {
  transform: skew(-45deg)
}

.aboutIcon
{
  color: #cc0000;
}

.ui.menu
{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.wrapped{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 0.7rem;
}

#formTitle
{
  font-family: 'Rambla', sans-serif !important;
}

#chatTitle
{
  font-family: 'Rambla', sans-serif !important;
}

#defectWorkers
{
  background: none;
}

#workersTitle
{
  font-family: 'Rambla', sans-serif !important;
}

footer
{
  margin-top: 2rem;
	background-color: black;
}

.footer-text
{
	color: #cc0000;
  font-size: large;
  padding: 1.5rem;
}

.page-container
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap
{
  flex: 1;
}

#filterRow
{
  padding-bottom: 0% !important;
}

.exclamation
{
  margin-right: -0.1rem !important;
  margin-left: 0.24rem !important;
}