*
{
  margin: 0;
  padding: 0;
  font-family: 'Rambla', sans-serif !important;
}

.headerText
{
  font-size: 5rem !important;
  text-align: left !important;
}

#subHeaderText
{
  font-size: 2rem !important;
  margin-top: -1rem;
}

#menu{
  background: rgba(17, 0, 17, 0.35) ;
}

.linkNav
{
  color: white !important;
  font-size: medium !important;
}

.linkNav:hover
{
  color: red !important;
}

#landing
{
  height: 100vh;
  width: 100%;
  background-image: url(../layout/img/pexels-markus-spiske-2004161.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body
{
  background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu 
{
  background-image: linear-gradient(135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%) !important;
}

.react-calendar
{
  width: 100%;
  border: none;
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}

.react-datepicker-wrapper
{
  width: 100%;
}

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
          135deg,
          rgb(24, 42, 115) 0%,
          rgb(33, 138, 174) 69%,
          rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}